<% include header %>

<div class="hero">
  <h1><%- settings.name %></h1>
  <form action="/">
    <h2>404</h2>
    <strong>(fore · oh · no!)</strong>
    <div class="letter">
      <p>Dear friend,</p>
      <p>It is with extreme sadness that we regretfully inform you that... something broke.</p>
      <p>Apparently:</p>
      <p class="hl"><%- err %></p>
      <p>Stay strong, we can get through this together.</p>
      <p>Sincerely,<br><%- settings.name %></p>
    </div>
    <input type="submit" value="Try again!">
  </form>
</div>

<% include footer %>
