<% include header %>

<form action="/">
  <h2>404 <span>(fore · oh · no!)</span></h2>
  <p>That username and password didn't work. Sorry!</p>
  <input type="submit" value="Try again!">
</form>

<% include footer %>
