<div class="footer">
  <p>&copy; Sean Dunaway</p>
  <p>We love, but are not affiliated with <a href="http://publix.com/">Publix</a>. Use at your own risk!</p>
</div>

<script src="/scripts.js"></script>
</body>
