<div class="footer">
  <p>We love, but are not affiliated with <a href="http://publix.com/" rel="nofollow" target="_blank">Publix</a>. Use at your own risk!</p>
</div>

<script src="/scripts.js"></script>
</body>
