<!doctype html>
<meta charset="utf-8">
<title><%- settings.name %></title>
<link rel="stylesheet" href="/styles.css">
<link rel="canonical" href="http://<%- settings.host %>/">
<link rel="author" href="https://plus.google.com/118113709023642973675/posts">
<meta name="description" content="The little tool for Publix employees to magically make their work schedule available on any smartphone or calendar enabled computer.">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=640px">
<body itemscope itemtype="http://data-vocabulary.org/Review">
