<!doctype html>
<meta charset="utf-8">
<title><%- settings.name %></title>
<link rel="stylesheet" href="/styles.css">
<link rel="canonical" href="http://<%- settings.host %>/">
<link rel="author" href="https://plus.google.com/118113709023642973675/posts">
<meta name="description" content="The little tool for Publix employees to magically make their work schedule available on any smartphone or calendar enabled computer.">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=640">
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-254733-11']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<body itemscope itemtype="http://data-vocabulary.org/Review">
