<% include header %>

<div class="notice">
  <p>Thank you to Publix for integrating this feature into the Oasis backend! This site is now offline.</p>
</div>

<div class="hero">
  <h1 itemprop="itemreviewed"><%- settings.name %></h1>
  <form method="post">
    <input type="text" name="u" placeholder="Username" required autofocus>
    <input type="password" name="p" placeholder="Password" required>
    <input id="subscribe" type="submit" value="Subscribe">
  </form>
  <div class="like"><iframe src="//www.facebook.com/plugins/like.php?layout=button_count&href=https%3A%2F%2Fwww.facebook.com/publixical" allowTransparency frameborder="0"></iframe></div>
</div>

<div class="content">
  <blockquote itemprop="summary"><%- quote %></blockquote>
  <div class="quote-footer"><span itemprop="reviewer">Publix Employee</span> <span itemprop="rating">10</span>/<span itemprop="best">10</span></div>
  <h3>What is this?</h3>
  <p>It's a little tool designed for Publix employees. It magically makes your work schedule available on any smartphone or calendar enabled computer. Neat, right?</p>
  <h3>What's my username and password?</h3>
  <p>Try using the same username and password that you use to login to the Publix oasis backend.</p>
  <h3>I'm a geek, tell me what's up!</h3>
  <p>Well, first we take your credentials and encrypt them with AES256. Then we simply proxy a request to Publix's backend, without even storing any data.</p>
  <p>From there we navigate to a few pages and parse out the relevant schedule information and then spit it out in the iCalendar format, for your viewing pleasure.</p>
  <h3>It's not working!</h3>
  <p>Right, so in order to have your schedule on your device you need to have calendar software installed.</p>
  <p>Most Apple and Android devices have this out of the box, but Windows users might need to install something like Outlook.</p>
  <p>Obviously, you'll need to be an employee and have an account on the oasis backend for this to work.</p>
  <p>If your username or password changes over there, you'll need to resubscribe.</p>
  <p>Finally, if things are still busted and broken after all of that, please contact us - we want to fix it!</p>
  <h3>Contact</h3>
  <p>Hey, give us a shout at <a id="contact" href="" rel="nofollow"></a>.</p>
</div>

<div class="social">
  <a href="//www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.facebook.com/publixical" target="_blank" title="Share to Facebook"><span class="facebook">Facebook</span></a>
  <a href="//twitter.com/share?url=http%3A%2F%2Fpublixical.com&text=Publix%20iCal" target="_blank" title="Share to Twitter"><span class="twitter">Twitter</span></a>
  <a href="//plus.google.com/share?url=http%3A%2F%2Fpublixical.com" target="_blank" title="Share to Google+"><span class="googleplus">Google+</span></a>
  <a href="//www.linkedin.com/shareArticle?url=http%3A%2F%2Fpublixical.com&title=Publix%20iCal" target="_blank" title="Share to LinkedIn"><span class="linkedin">LinkedIn</span></a>
</div>

<% include footer %>
