<% include header %>

<form method="post">
  <input name="u" placeholder="Username" required="true" autofocus>
  <input name="p" placeholder="Password" required="true">
  <input type="submit" value="Subscribe">
</form>

<% include footer %>
