<% include header %>

<form method="post">
  <input type="text" name="u" placeholder="Username" required="true" autofocus>
  <input type="password" name="p" placeholder="Password" required="true">
  <input type="submit" value="Subscribe">
</form>

<div>
  <h2>What would you do?</h2>
  <p>
    Blah blah blah blah blah blah blah. Blah blah blah blah blah blah blah.
    Blah blah blah blah blah blah blah. Blah blah blah blah blah blah blah.
  </p>

  <h2>What would you do?</h2>
  <p>
    Blah blah blah blah blah blah blah. Blah blah blah blah blah blah blah.
    Blah blah blah blah blah blah blah. Blah blah blah blah blah blah blah.
  </p>

  <h2>What would you do?</h2>
  <p>
    Blah blah blah blah blah blah blah. Blah blah blah blah blah blah blah.
    Blah blah blah blah blah blah blah. Blah blah blah blah blah blah blah.
  </p>

  <h2>What would you do?</h2>
  <p>
    Blah blah blah blah blah blah blah. Blah blah blah blah blah blah blah.
    Blah blah blah blah blah blah blah. Blah blah blah blah blah blah blah.
  </p>
</div>

<% include footer %>
