<% include header %>

<div class="hero">
  <h1><%- settings.name %></h1>
  <form method="post">
    <input type="text" name="u" placeholder="Username" required="true" autofocus>
    <input type="password" name="p" placeholder="Password" required="true">
    <input type="submit" value="Subscribe">
  </form>
</div>

<div class="content">
  <h3>What is this?</h3>
  <p>It's a little tool designed for Publix employees. It magically makes your work schedule available on any smartphone or computer with calendar software. Neat, right?</p>
  <h3>What's my username and password?</h3>
  <p>Try using the same username and password that you use to login to the Publix osasis backend.</p>
  <h3>I'm a geek, tell me what's up!</h3>
  <p>Well, first we take your credentials and encrypt them with AES256. Then we simply proxy a request to Publix's backend, without even storing any data.</p>
  <p>From there we navigate to a few pages and parse out the relevant schedule information and then spit it out in the iCalendar format, for your viewing pleasure.</p>
  <h3>It's not working!</h3>
  <p>Right, so in order to have your schedule on your device you need to have calendar software installed.</p>
  <p>Most Apple and Android devices have this out of the box, but Windows users might need to install something like Outlook.</p>
  <p>Obviously, you'll need to be an employee and have an account on the osasis backend for this to work.</p>
  <p>If your username or password changes there you'll simply need to resubscribe.</p>
  <p>If things are still busted and broken after all of that, please contact us - we want to fix it!</p>
  <h3>Who are you?</h3>
  <p>Employees! Just like you :) Hey, drop us a line at <a href="mailto:webmaster@?subject=Publix%20iCal" rel="nofollow">webmaster @ this domain</a>. Don't forget to fill in the domain!</p>
</div>

<% include footer %>
