body {
  background: honeydew;
  font: 24px/1.5em helvetica, arial, sans-serif;
  margin: 0;
  min-width: 320px;
  text-rendering: optimizeLegibility;
}

h1 {
  background: forestgreen;
  color: white;
  font: bold 3em/1em comic sans ms, sans-serif;
  opacity: 0.9;
  margin: 0 auto;
  padding: 0.25em;
  max-width: 470px;
  text-align: center;

  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);

  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -o-transition: -o-transform 2s;
  -ms-transition: -ms-transform 2s;
  transition: transform 2s;
}

h1:hover {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
}

h2 {
  color: orange;
  font-size: 6em;
  margin: 0.25em 0;
}

h3 {
  font-size: 1.5em;
  font-weight: normal;
  margin: 2.5em 0 0 0;
}

img {
  box-shadow: 6px 6px 6px gray;
}

blockquote {
  color: lightslategray;
  font: italic 1em/1.5em georgia, serif;
  margin: 1em 0 0 0;
  text-align: right;
}

blockquote::before {
  content: "“";
  font: bold 4em/1em georgia, serif;
  float: left;
}

li {
  text-align: left;
}

p {
  color: #333;
  text-align: left;
}

a,
a:hover,
a:active,
a:visited {
  color: blue;
}

.hero {
  background-color: lightgreen;
  padding: 4em 1em;
}

.content {
  background: honeydew;
  margin: 0 auto;
  padding: 2em 1em 4em 1em;
  max-width: 640px;
  text-align: left;
}

form {
  background: honeydew;
  margin: 0 auto;
  padding: 2em;
  max-width: 470px;
  text-align: center;
}

input[type=text],
input[type=password] {
  display: block;
  font-size: 1.5em;
  margin: 0 auto 0.5em auto;
  padding: 0.25em 0;
  text-indent: 40px;
  width: 100%;
}

input[type=text] {
  background: transparent url(l.png) no-repeat 10px center;
}

input[type=password] {
  background: transparent url(p.png) no-repeat 10px center;
}

input[type=submit] {
  border: 1px solid orange;
  display: block;
  color: white;
  font: bold 1.25em/1em verdana, sans-serif;
  margin: 2.5em auto 0 auto;
  padding: 0.5em;

  border-radius: 10px;
  box-shadow: 1px 1px 2px white, 0.5px 1px khaki inset;
  text-shadow: 2px 2px 0 chocolate;

  -webkit-appearance: button;
  -moz-appearance: button;

  background: gold;
  background: -moz-linear-gradient(top, gold 0%, darkorange 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,gold), color-stop(100%,darkorange));
  background: -webkit-linear-gradient(top, gold 0%,darkorange 100%);
  background: -o-linear-gradient(top, gold 0%,darkorange 100%);
  background: -ms-linear-gradient(top, gold 0%,darkorange 100%);
  background: linear-gradient(to bottom, gold 0%,darkorange 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='gold', endColorstr='darkorange', GradientType=0);

  -webkit-transition: -webkit-transform 0.25s;
  -moz-transition: -moz-transform 0.25s;
  -o-transition: -o-transform 0.25s;
  -ms-transition: -ms-transform 0.25s;
  transition: transform 0.25s;
}

input[type=submit]:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.footer p {
  color: gray;
  font-size: 0.5em;
  line-height: 1em;
  text-align: center;
}

.break {
  word-break: break-all;
  word-wrap: break-word;
}

.hidden {
  display: none !important;
}

.hl {
  font: 0.8em monospace;
  background-color: lightyellow;
  padding: 0.5em;
}

.letter {
  margin: 2em 0;
  font-family: cursive;
}

.like {
  text-align: center;
}

.like iframe {
  margin: 3em auto -1.5em auto;
  height: 21px;
  width: 100px;
}

.notice {
  background-color: lightyellow;
}
.notice p {
  color: gray;
  margin: 0 auto;
  padding: 1em;
  max-width: 640px;
}

.social {
  text-align: center;
  margin-bottom: 2em;
}

.social span {
  color: transparent;
  cursor: pointer;
  background-image: url(social.png);
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0 1em;
  overflow: hidden;
  width: 32px;
  height: 32px;
}

.thumbsup {
  background-position: 0 0;
}
.twitter {
  background-position: 0 -64px;
}
.facebook {
  background-position: 0 -128px;
}
.googleplus {
  background-position: 0 -192px;
}
.linkedin {
  background-position: 0 -256px;
}

.quote-footer {
  color: lightgray;
  font: lighter 0.5em/1.5em ariel, sans-serif;
  text-align: right;
}
